<p><%= t(:hello).capitalize %> <%= @resource.email %>!</p>

<p><%= t('.request_reset_link_msg') %></p>

<p>
  <% if message['schema_url'].present? %>
    <%= link_to t('.password_change_link'), "#{message['schema_url']}?#{password_reset_query(token: @token, redirect_url: message['redirect-url'], resource_name: @resource.class.to_s).to_query}" %>
  <% else %>
    <%= link_to t('.password_change_link'), "#{message['redirect-url'].to_s}?#{{ reset_password_token: @token }.to_query}" %>
  <% end %>
</p>

<p><%= t('.ignore_mail_msg') %></p>
<p><%= t('.no_changes_msg') %></p>
